<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oscars.factory.mapper.ContractCMapper">
    
    <select id="queryTablist" resultType="com.oscars.common.dto.TableExcelModelDto" >
        SELECT
            CUSTOM_NAME as customName,CONTRACT_NO as contractNo,
            PRODUCT_NO as productNo,CNUMBER as cnumber,
            FACTORY as factory,DELIVERY_PERIOD as deliveryPeriod,
            SHIP_TIME as shipTime
        FROM
            sxhdmy_service.contract_c , sxhdmy_service.contract_product_c
        where contract_c.CONTRACT_ID = contract_product_c.CONTRACT_ID and  DATE_FORMAT(CREATE_TIME,'%Y-%m-%d') = #{date};
    </select>

</mapper>
